* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(90deg, #24C6DC 0%, #514A9D 100%);
    min-height: 100vh;
}

.container{
    height: 600px;
    position: relative;
    display: flex;
    align-items: center;
}

.container-img{
    flex-basis: 50%;
    position: relative;
    text-align: center;
    z-index: 1;
    overflow: hidden;
}

.wave-uno{
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
}

.container-textos{
    flex-basis: 50%;
    padding-left: 78px;
    overflow: hidden;
    color: white;
}

.title{
    font-size: 50px;
}

.subtitle{
    font-size: 30px;
    font-weight: 500;
    margin: 20px 0;
}

.cta{
    display: inline-block;
    width: 150px;
    padding: 15px 0;
    text-align: center;
    background: white;
    border-radius: 4px;
    text-decoration: none;
    color: #24C6DC;
}

.img{
    animation: ilustrationAnimate ease-in 1s infinite alternate;
}

@keyframes ilustrationAnimate{
    0%{
        transform: scale(1);
    } 100%{
        transform: scale(1.04);
    }

}

@media screen and (max-width: 800px){
    .container{
        flex-direction: column-reverse;
    }
    .wave-uno{
    width: 80%;
    }

    .container-textos{
        display: flex;
        padding-left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-basis: 40%;
        text-align: center;
    }

    .title{
        font-size: 40px;
    }

    .subtitle{
        font-size: 20px;
    }

    .container-img{
        flex-basis: 60%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img{
        height: 90%;
    }

}


@media screen and (max-width: 500px){
    .wave-uno{
        height: 48%;
        width: auto;
    }

    .container-textos{
        flex-basis: 40%;
        justify-content: flex-start;
    }

    .title{
        font-size: 35px;
    }
}